* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "FarAwayGalaxy";
  src: url("/fonts/FarAwayGalaxy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  color: $primary-color;
}

.container {
  max-width: 860px;
  margin: 0 auto;
}
